# Dominio oficial de producción (Caddy generará el HTTPS automáticamente)
ledclean.ar, www.ledclean.ar {
    
    # 1. Todas las peticiones que empiecen con /api van al backend
    handle /api/* {
        reverse_proxy back:3000
    }

    # 1.5. Las imágenes subidas también van al backend
    handle /uploads/* {
        reverse_proxy back:3000
    }

    # 2. El resto de las peticiones van al frontend (Nginx)
    handle {
        reverse_proxy front:80
    }
}
